<h1>Listing articles</h1>

<table>
 <tr>
   <th>Title</th>
   <th>Text</th>
 </tr>

 <% @articles.each do |article| %>
   <tr>
     <td><%= article.title %></td>
     <td><%= article.text %></td>
     <td>Is Private : <%= article.isprivate %></td>
     <td><%= link_to 'Show', article_path(article) %></td>
   </tr>
 <% end %>
</table>